@media (max-width: 600px) {
    /*************************************************************************
        Header / Navigation
    */
    nav {
        width: 100vw;
        padding: 5vh 5vw;
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }
    .logo {
        font-weight: 800;
        font-size: 1.1em;
        width: 30%;
        justify-self: left;
    }
    #navigation {
        position: absolute;
        right: 5vw;

        z-index: -1;
        opacity: 0;
        transition: opacity 1s;
    }
    #navigation li {
        font-size: 1.1em;
        font-weight: 800;
        text-align: right;
    }
    #navigation li:first-of-type {
        justify-self: start;
        font-weight: 800;
    }
    #navigation li a {
        font-size: 0.8em;
    }

    #hamburger {
        text-align: right;
        padding-right: 10vw;
        transition: opacity 1s;
    }

    /*
    .hamburger:hover {
        opacity: 0;
        z-index: -1;
    }
    .hamburger:hover .navigation {
        z-index: 1;
        opacity: 1;
    }
    */

    /*************************************************************************
        Main / Articles
    */
    main {
        width: auto;
        padding: 1vh 5vw;
        text-align: center;
    }

    .article {
        padding-bottom: 5vh;
    }
    .article img {
        width: 100%;
        transition: opacity 0.5s;
    }
    .article img:hover {
        opacity: 0.6;
    }
    .article figcaption {
        text-align: left;
        padding-top: 1vh;
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-content: space-between;
    }
    .article p {
        padding-top: 0.5vh;
        color: #323a45;
        font-weight: 700;
    }
    .article p:nth-last-of-type(2) {
        text-align: right;
    }
    .article p:last-of-type {
        color: #848484;
        font-weight: 500;
        font-size: 0.95em;
    }

    /*************************************************************************
        Footer / Contact, Newsletter, Social Media
    */
    footer {
        padding: 2% 10% 1%;
        line-height: 1.8;
        font-weight: 600;
        font-size: 0.8em;
    }
    footer h4 {
        padding: 3vh 0;
        font-weight: 800;
        font-size: 1.1em;
    }
    footer a {
        font-weight: 800;
    }
    footer span {
        font-weight: 900;
    }
    footer div:nth-of-type(3) li:first-of-type a {
        font-weight: 600;
    }
    footer p:last-of-type {
        color: #848484;
        padding-top: 5vh;
    }

    /************************************************************************/
}
